body {
    height: 100%;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: lighter;
    letter-spacing: 0.8;
    font-size: 3rem;
    color: #222;
    margin: 0;
}
h1.headline {
    margin-top: 20%;
    font-size: 5rem;
}
.text-center {
    text-align: center;
}
p.lead {
    font-size: 1.6rem;
}
.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}
.header {
    background: #85271f;
    color: #fff;
}
.header h1 {
    color: #fff;
}
.header p {
    font-size: 1.2rem;
    margin: 0;
    line-height: 2.5;
}
.header a {
    color: rgba(255,255,255,0.5);
    margin-left: 2rem;
    display: none;
    text-decoration: none;
}
.header:hover a {
    display: inline;
}

.footer .container {
    border-top: 1px solid #e7e7e7;
    margin-top: 1rem;
    text-align: center;
}

.source {
    background: #333;
    color: #c7c7c7;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    margin: 0;
    overflow-x: scroll;
}
.source span.line {
    line-height: 1.4;
}
.source span.line .number {
    color: #666;
}
.source .line .highlight {
    display: block;
    background: #555;
    color: #fff;
}
.source span.highlight .number {
    color: #fff;
}

.tabs {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    margin-bottom: -1px;
}
.tabs li {
    display: inline;
}
.tabs a:link,
.tabs a:visited {
    padding: 0rem 1rem;
    line-height: 2.7;
    text-decoration: none;
    color: #a7a7a7;
    background: #f1f1f1;
    border: 1px solid #e7e7e7;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
}
.tabs a:hover {
    background: #e7e7e7;
    border-color: #e1e1e1;
}
.tabs a.active {
    background: #fff;
}
.tab-content {
    background: #fff;
    border: 1px solid #efefef;
}
.content {
    padding: 1rem;
}
.hide {
    display: none;
}

.alert {
    margin-top: 2rem;
    display: block;
    text-align: center;
    line-height: 3.0;
    background: #d9edf7;
    border: 1px solid #bcdff1;
    border-radius: 5px;
    color: #31708f;
}
ul, ol {
    line-height: 1.8;
}

table {
    width: 100%;
    overflow: hidden;
}
th {
    text-align: left;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 0.5rem;
}
td {
    padding: 0.2rem 0.5rem 0.2rem 0;
}
tr:hover td {
    background: #f1f1f1;
}
td pre {
    white-space: pre-wrap;
}

.trace a {
    color: inherit;
}
.trace table {
    width: auto;
}
.trace tr td:first-child {
    min-width: 5em;
    font-weight: bold;
}
.trace td {
    background: #e7e7e7;
    padding: 0 1rem;
}
.trace td pre {
    margin: 0;
}
.args {
    display: none;
}