// COLORS
// ========================================================================== */

// Themes
$t-dark: #252525;
$t-light: #FFFFFF;

// Glossy colors
$g-blue: #5BC0DE;
$g-gray: #434343;
$g-green: #9ACE25;
$g-orange: #DD8615;
$g-red: #DD4814;

// Matt colors
$m-blue: #D8EAF0;
$m-gray: #DFDFDF;
$m-green: #DFF0D8;
$m-orange: #FDC894;
$m-red: #EF9090;
