// IMPORTS
// ========================================================================== */

// The "box-shadow" mixin uses colors
@import '_mixins';

// Graphic charter
@import '_graphic-charter';


// DEBUG ICON
// ========================================================================== */

#debug-icon {
	background-color: $t-dark;
	@include box-shadow(0, 0, 4px, $m-gray);
	a:active, a:link, a:visited {
		color: $g-orange;
	}
}


// DEBUG BAR
// ========================================================================== */

#debug-bar {
 	background-color: $t-dark;
 	color: $m-gray;

	// Reset to prevent conflict with other CSS files
 	h1,
	h2,
	h3,
	p,
	a,
	button,
	table,
	thead,
	tr,
	td,
	button,
	.toolbar {
		background-color: transparent;
 		color: $m-gray;
 	}

	// Buttons
	button {
		background-color: $t-dark;
	}

	// Tables
 	table {
 		strong {
			color: $m-orange;
 		}
 		tbody tr {
 			&:hover {
 				background-color: $g-gray;
 			}
 			&.current {
 				background-color: $m-orange;
				td {
					color: $t-dark;
				}
				&:hover td {
	 				background-color: $g-red;
					color: $t-light;
	 			}
 			}
 		}
 	}

	// The toolbar
 	.toolbar {
 		background-color: $g-gray;
 		@include box-shadow(0, 0, 4px, $g-gray);
		img {
			filter: brightness(0) invert(1);
		}
 	}

	// Fixed top
	&.fixed-top {
		& .toolbar {
			@include box-shadow(0, 0, 4px, $g-gray);
		}
		.tab {
			@include box-shadow(0, 1px, 4px, $g-gray);
		}
	}

	// "Muted" elements
	.muted {
 		color: $m-gray;
 		td {
 			color: $g-gray;
 		}
 		&:hover td {
 			color: $m-gray;
 		}
 	}

	// The toolbar preferences
	#toolbar-position,
	#toolbar-theme, {
		filter: brightness(0) invert(0.6);
	}

	// The toolbar menus
 	.ci-label {
 		&.active {
 			background-color: $t-dark;
 		}
 		&:hover {
 			background-color: $t-dark;
 		}
 		.badge {
 			background-color: $g-blue;
 			color: $m-gray;
 		}
 	}

	// The tabs container
 	.tab {
 		background-color: $t-dark;
		@include box-shadow(0, -1px, 4px, $g-gray);
 	}

	// The "Timeline" tab
	.timeline {
 		th,
		td {
 			border-color: $g-gray;
 		}
 		.timer {
 			background-color: $g-orange;
 		}
 	}
}


// DEBUG VIEW
// ========================================================================== */

.debug-view.show-view {
	border-color: $g-orange;
}
.debug-view-path {
	background-color: $m-orange;
	color: $g-gray;
}
