# This file tells which files and directories should be ignored and
# NOT downloaded when using composer to pull down a project with
# the --prefer-dist option selected. Used to remove development
# specific files so user has a clean download.

# git files
.gitattributes export-ignore
.gitignore export-ignore

# Don't give admin files
.github/ export-ignore
admin/ export-ignore
contributing/ export-ignore
.editorconfig export-ignore
.nojekyll export-ignore export-ignore
CODE_OF_CONDUCT.md export-ignore
DCO.txt export-ignore
PULL_REQUEST_TEMPLATE.md export-ignore
stale.yml export-ignore
Vagrantfile.dist export-ignore

# They don't want our test files
tests/system/ export-ignore
utils/ export-ignore
rector.php export-ignore
phpunit.xml.dist export-ignore
phpstan.neon.dist export-ignore
.php-cs-fixer.dist.php export-ignore

# The source user guide, either
user_guide_src/ export-ignore
phpdoc.dist.xml export-ignore
