includes:
        - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    bootstrapFiles:
        - qa-bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    excludes_analyse:
        - app/Config/*
        - app/Database/*
        - app/Views/*
    ignoreErrors:
        - '#Unsafe usage of new static\(\)*#'
        - '#Call to an undefined method CodeIgniter\\Database\\BaseConnection::_(disable|enable)ForeignKeyChecks\(\)#'
        - '#Access to an undefined property CodeIgniter\\Config\\AutoloadConfig::\$psr4#'
        - '#Access to an undefined property CodeIgniter\\Config\\AutoloadConfig::\$classmap#'
        - '#Call to protected method renderTimeline\(\) of class CodeIgniter\\Debug\\Toolbar#'