parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- app
		- system
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- system/Test/bootstrap.php
	excludes_analyse:
		- app/Views/errors/cli/*
		- app/Views/errors/html/*
		- system/Commands/Generators/Views/*
		- system/Config/Routes.php
		- system/Debug/Toolbar/Views/toolbar.tpl.php
		- system/ThirdParty/*
		- system/Validation/Views/single.php
	ignoreErrors:
		- '#Access to an undefined property CodeIgniter\\Database\\Forge::\$dropConstraintStr#'
		- '#Access to an undefined property CodeIgniter\\Database\\BaseConnection::\$mysqli#'
		- '#Access to an undefined property CodeIgniter\\Database\\ConnectionInterface::(\$DBDriver|\$connID|\$likeEscapeStr|\$likeEscapeChar|\$escapeChar|\$protectIdentifiers)#'
		- '#Access to an undefined property CodeIgniter\\HTTP\\Request::\$uri#'
		- '#Access to protected property CodeIgniter\\Database\\BaseConnection::(\$DBDebug|\$DBPrefix|\$swapPre|\$charset|\$DBCollat)#'
		- '#Call to an undefined method CodeIgniter\\Database\\BaseConnection::_(disable|enable)ForeignKeyChecks\(\)#'
		- '#Call to an undefined method CodeIgniter\\Database\\BaseConnection::supportsForeignKeys\(\)#'
		- '#Call to an undefined method CodeIgniter\\Database\\ConnectionInterface::(tableExists|protectIdentifiers|setAliasedTables|escapeIdentifiers|affectedRows|addTableAlias)\(\)#'
		- '#Call to an undefined method CodeIgniter\\HTTP\\Request::(getPath|getSegments|getMethod|setLocale|getPost)\(\)#'
		- '#Call to an undefined method CodeIgniter\\Router\\RouteCollectionInterface::(getDefaultNamespace|isFiltered|getFilterForRoute|getRoutesOptions)\(\)#'
		- '#Call to an undefined method CodeIgniter\\Validation\\ValidationInterface::loadRuleGroup\(\)#'
		- '#Call to function is_null\(\) with mysqli_stmt\|resource will always evaluate to false#'
		- '#Cannot access property [\$a-z_]+ on ((bool\|)?object\|resource)#'
		- '#Cannot call method [a-zA-Z_]+\(\) on ((bool\|)?object\|resource)#'
		- '#Method CodeIgniter\\Database\\ConnectionInterface::query\(\) invoked with 3 parameters, 1-2 required#'
		- '#Method CodeIgniter\\Router\\RouteCollectionInterface::getRoutes\(\) invoked with 1 parameter, 0 required#'
		- '#Method CodeIgniter\\Validation\\ValidationInterface::run\(\) invoked with 3 parameters, 0-2 required#'
		- '#Negated boolean expression is always (true|false)#'
		- '#Parameter \#1 \$db of class CodeIgniter\\Database\\SQLite3\\Table constructor expects CodeIgniter\\Database\\SQLite3\\Connection, CodeIgniter\\Database\\BaseConnection given#'
		- '#Return type \(bool\) of method CodeIgniter\\Log\\Logger::(emergency|alert|critical|error|warning|notice|info|debug|log)\(\) should be compatible with return type \(null\) of method Psr\\Log\\LoggerInterface::(emergency|alert|critical|error|warning|notice|info|debug|log)\(\)#'
		- '#Return type \(bool\) of method CodeIgniter\\HTTP\\Files\\UploadedFile::move\(\) should be compatible with return type \(CodeIgniter\\Files\\File\) of method CodeIgniter\\Files\\File::move\(\)#'
		- '#Return type \(bool\) of method CodeIgniter\\Test\\TestLogger::log\(\) should be compatible with return type \(null\) of method Psr\\Log\\LoggerInterface::log\(\)#'
		- '#Unsafe usage of new static\(\)*#'
	parallel:
		processTimeout: 300.0
	scanDirectories:
		- system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
