<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		 bootstrap="system/Test/bootstrap.php"
		 backupGlobals="false"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 cacheResultFile="build/.phpunit.cache/test-results"
		 colors="true"
		 failOnRisky="true"
		 failOnWarning="true"
		 verbose="true">

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./system</directory>
		</include>

		<exclude>
			<directory>./system/Commands/Generators/Views</directory>
			<directory>./system/Debug/Toolbar/Views</directory>
			<directory>./system/Pager/Views</directory>
			<directory>./system/ThirdParty</directory>
			<directory>./system/Validation/Views</directory>
			<file>./system/bootstrap.php</file>
			<file>./system/ComposerScripts.php</file>
			<file>./system/Config/Routes.php</file>
			<file>./system/Test/bootstrap.php</file>
		</exclude>

		<report>
			<clover outputFile="build/logs/clover.xml"/>
		</report>
	</coverage>

	<testsuites>
		<testsuite name="System">
			<directory>./tests/system</directory>
			<exclude>./tests/system/Database</exclude>
		</testsuite>
		<testsuite name="Database">
			<directory>./tests/system/Database</directory>
		</testsuite>
	</testsuites>

	<listeners>
		<listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
			<arguments>
				<array>
					<!-- Number of milliseconds when a test is considered "slow" (Default: 500ms) -->
					<element key="slowThreshold">
						<integer>500</integer>
					</element>
					<!-- Number of slow tests included in the report (Default: 10 tests) -->
					<element key="reportLength">
						<integer>30</integer>
					</element>
					<!-- Stop execution upon first slow test (Default: false) -->
					<element key="stopOnSlow">
						<boolean>false</boolean>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>

	<php>
		<env name="XDEBUG_MODE" value="coverage"/>
		<server name="app.baseURL" value="http://example.com/"/>
		<!-- Directory containing phpunit.xml -->
		<const name="HOMEPATH" value="./"/>
		<!-- Directory containing the Paths config file -->
		<const name="CONFIGPATH" value="./app/Config/"/>
		<!-- Directory containing the front controller (index.php) -->
		<const name="PUBLICPATH" value="./public/"/>
	</php>
</phpunit>
