<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/_support/_bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false">
    <testsuites>
        <testsuite name="system">
            <directory>./tests/system</directory>
            <!-- <exclude>./tests/system/Database/Live</exclude> -->
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./system</directory>
            <exclude>
                <file>./system/ComposerScripts.php</file>
                <directory>./system/ThirdParty</directory>
                <directory>./system/Debug/Toolbar/View</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
