<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/support/_bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false">
    <testsuites>
        <testsuite name="AllTests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./system</directory>
            <exclude>
                <file>./system/CodeIgniter.php</file>
                <file>./system/Controller.php</file>
                <file>./system/ComposerScripts.php</file>
                <file>./system/View/Escaper.php</file>
                <directory suffix=".php">./system/View/Exception</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>