// IMPORTS
// ========================================================================== */

// The "box-shadow" mixin uses colors
@use '_mixins';

// Graphic charter
@use '_graphic-charter';


// DEBUG ICON
// ========================================================================== */

#debug-icon {
    background-color: graphic-charter.$t-dark;
    @include mixins.box-shadow(0, 0, 4px, graphic-charter.$m-gray);

    a:active,
    a:link,
    a:visited {
        color: graphic-charter.$g-orange;
    }
}


// DEBUG BAR
// ========================================================================== */

#debug-bar {
    background-color: graphic-charter.$t-dark;
    color: graphic-charter.$m-gray;

    // Reset to prevent conflict with other CSS files
    h1,
    h2,
    h3,
    p,
    a,
    button,
    table,
    thead,
    tr,
    td,
    button,
    .toolbar {
        background-color: transparent;
        color: graphic-charter.$m-gray;
    }

    // Buttons
    button {
        background-color: graphic-charter.$t-dark;
    }

    // Tables
    table {
        strong {
            color: graphic-charter.$g-orange;
        }

        tbody tr {
            &:hover {
                background-color: graphic-charter.$g-gray;
            }

            &.current {
                background-color: graphic-charter.$m-orange;

                td {
                    color: graphic-charter.$t-dark;
                }

                &:hover td {
                    background-color: graphic-charter.$g-red;
                    color: graphic-charter.$t-light;
                }
            }
        }
    }

    // The toolbar
    .toolbar {
        background-color: graphic-charter.$g-gray;
        @include mixins.box-shadow(0, 0, 4px, graphic-charter.$g-gray);

        img {
            filter: brightness(0) invert(1);
        }
    }

    // Fixed top
    &.fixed-top {
        .toolbar {
            @include mixins.box-shadow(0, 0, 4px, graphic-charter.$g-gray);
        }

        .tab {
            @include mixins.box-shadow(0, 1px, 4px, graphic-charter.$g-gray);
        }
    }

    // "Muted" elements
    .muted {
        color: graphic-charter.$m-gray;

        td {
            color: graphic-charter.$g-gray;
        }

        &:hover td {
            color: graphic-charter.$m-gray;
        }
    }

    // The toolbar preferences
    #toolbar-position,
    #toolbar-theme {
        filter: brightness(0) invert(0.6);
    }

    // The toolbar menus
    .ci-label {
        &.active {
            background-color: graphic-charter.$t-dark;
        }

        &:hover {
            background-color: graphic-charter.$t-dark;
        }

        .badge {
            background-color: graphic-charter.$g-red;
            color: graphic-charter.$t-light;
        }
    }

    // The tabs container
    .tab {
        background-color: graphic-charter.$t-dark;
        @include mixins.box-shadow(0, -1px, 4px, graphic-charter.$g-gray);
    }

    // The "Timeline" tab
    .timeline {
        th,
        td {
            border-color: graphic-charter.$g-gray;
        }

        .timer {
            background-color: graphic-charter.$g-orange;
        }
    }
}


// DEBUG VIEW
// ========================================================================== */

.debug-view.show-view {
    border-color: graphic-charter.$g-orange;
}

.debug-view-path {
    background-color: graphic-charter.$m-orange;
    color: graphic-charter.$g-gray;
}
