# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Parameter \#2 \$message of method CodeIgniter\\Log\\Handlers\\ChromeLoggerHandler\:\:handle\(\) expects string, stdClass given\.$#'
            count: 1
            path: ../../tests/system/Log/Handlers/ChromeLoggerHandlerTest.php

        -
            message: '#^Parameter \#1 \$format of method CodeIgniter\\RESTful\\ResourceController\:\:setFormat\(\) expects ''json''\|''xml'', ''Nonsense'' given\.$#'
            count: 1
            path: ../../tests/system/RESTful/ResourceControllerTest.php
