# total 4 errors

parameters:
    ignoreErrors:
        -
            message: '#^Function is_cli invoked with 1 parameter, 0 required\.$#'
            count: 2
            path: ../../tests/system/Debug/ToolbarTest.php

        -
            message: '#^Class CodeIgniter\\HTTP\\Response constructor invoked with 1 parameter, 0 required\.$#'
            count: 1
            path: ../../tests/system/HTTP/ContentSecurityPolicyTest.php

        -
            message: '#^Class CodeIgniter\\HTTP\\Response constructor invoked with 1 parameter, 0 required\.$#'
            count: 1
            path: ../../tests/system/HTTP/ResponseTest.php
