# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Right side of && is always true\.$#'
            count: 1
            path: ../../system/Helpers/filesystem_helper.php
