# total 13 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
            count: 1
            path: ../../system/Cache/Handlers/PredisHandler.php

        -
            message: '#^Only booleans are allowed in a negated boolean, TWhenNot given\.$#'
            count: 1
            path: ../../system/Database/BaseBuilder.php

        -
            message: '#^Only booleans are allowed in a negated boolean, array given\.$#'
            count: 1
            path: ../../system/Database/MySQLi/Connection.php

        -
            message: '#^Only booleans are allowed in a negated boolean, string given\.$#'
            count: 1
            path: ../../system/Database/SQLite3/Connection.php

        -
            message: '#^Only booleans are allowed in a negated boolean, array\<string, array\<string, list\<string\>\>\> given\.$#'
            count: 1
            path: ../../system/Filters/Filters.php

        -
            message: '#^Only booleans are allowed in a negated boolean, int\<0, max\> given\.$#'
            count: 1
            path: ../../system/Helpers/form_helper.php

        -
            message: '#^Only booleans are allowed in a negated boolean, CodeIgniter\\CodeIgniter given\.$#'
            count: 1
            path: ../../system/Test/CIUnitTestCase.php

        -
            message: '#^Only booleans are allowed in a negated boolean, array\|null given\.$#'
            count: 6
            path: ../../system/Validation/FileRules.php

        -
            message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
            count: 1
            path: ../../tests/system/Email/EmailTest.php

        -
            message: '#^Only booleans are allowed in a negated boolean, CodeIgniter\\Router\\RouteCollection\|null given\.$#'
            count: 1
            path: ../../tests/system/HomeTest.php

        -
            message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
            count: 2
            path: ../../tests/system/Models/FindModelTest.php

        -
            message: '#^Only booleans are allowed in a negated boolean, CodeIgniter\\Router\\RouteCollection\|null given\.$#'
            count: 1
            path: ../../tests/system/Test/FeatureTestAutoRoutingImprovedTest.php

        -
            message: '#^Only booleans are allowed in a negated boolean, CodeIgniter\\Router\\RouteCollection\|null given\.$#'
            count: 1
            path: ../../tests/system/Test/FeatureTestTraitTest.php
