# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in \|\|, string\|null given on the right side\.$#'
            count: 3
            path: ../../system/CLI/CLI.php

        -
            message: '#^Only booleans are allowed in \|\|, int given on the right side\.$#'
            count: 1
            path: ../../system/HotReloader/HotReloader.php

        -
            message: '#^Only booleans are allowed in \|\|, mixed given on the right side\.$#'
            count: 1
            path: ../../tests/system/Models/FindModelTest.php
