# total 12 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in &&, array\|int\|string\|null given on the left side\.$#'
            count: 1
            path: ../../system/BaseModel.php

        -
            message: '#^Only booleans are allowed in &&, array\|string\|null given on the left side\.$#'
            count: 1
            path: ../../system/CLI/CLI.php

        -
            message: '#^Only booleans are allowed in &&, string given on the left side\.$#'
            count: 1
            path: ../../system/Cache/Handlers/BaseHandler.php

        -
            message: '#^Only booleans are allowed in &&, int given on the left side\.$#'
            count: 1
            path: ../../system/Commands/Server/Serve.php

        -
            message: '#^Only booleans are allowed in &&, string\|null given on the left side\.$#'
            count: 3
            path: ../../system/Common.php

        -
            message: '#^Only booleans are allowed in &&, string given on the left side\.$#'
            count: 1
            path: ../../system/Database/Forge.php

        -
            message: '#^Only booleans are allowed in &&, int given on the left side\.$#'
            count: 1
            path: ../../system/Database/MySQLi/Connection.php

        -
            message: '#^Only booleans are allowed in &&, int given on the left side\.$#'
            count: 1
            path: ../../system/Email/Email.php

        -
            message: '#^Only booleans are allowed in &&, string\|null given on the left side\.$#'
            count: 1
            path: ../../system/HTTP/Response.php

        -
            message: '#^Only booleans are allowed in &&, array given on the left side\.$#'
            count: 1
            path: ../../system/Model.php

        -
            message: '#^Only booleans are allowed in &&, string\|null given on the left side\.$#'
            count: 1
            path: ../../system/Model.php

        -
            message: '#^Only booleans are allowed in &&, array\<int\|string, array\|\(callable\)\> given on the left side\.$#'
            count: 1
            path: ../../system/Router/RouteCollection.php
