# total 8 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in &&, array\<string, string\> given on the right side\.$#'
            count: 1
            path: ../../system/BaseModel.php

        -
            message: '#^Only booleans are allowed in &&, list\<string\> given on the right side\.$#'
            count: 1
            path: ../../system/CLI/CLI.php

        -
            message: '#^Only booleans are allowed in &&, int\<0, max\> given on the right side\.$#'
            count: 1
            path: ../../system/Database/MigrationRunner.php

        -
            message: '#^Only booleans are allowed in &&, string given on the right side\.$#'
            count: 1
            path: ../../system/Email/Email.php

        -
            message: '#^Only booleans are allowed in &&, array\<mixed, mixed\> given on the right side\.$#'
            count: 2
            path: ../../system/HTTP/Files/FileCollection.php

        -
            message: '#^Only booleans are allowed in &&, string\|null given on the right side\.$#'
            count: 1
            path: ../../system/HTTP/Response.php

        -
            message: '#^Only booleans are allowed in &&, array\<string, string\> given on the right side\.$#'
            count: 4
            path: ../../system/HTTP/UserAgent.php

        -
            message: '#^Only booleans are allowed in &&, string given on the right side\.$#'
            count: 2
            path: ../../system/Model.php
