# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Dead catch \- CodeIgniter\\HTTP\\Exceptions\\RedirectException is never thrown in the try block\.$#'
            count: 1
            path: ../../tests/system/ControllerTest.php
