# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Instantiating CastException using new is not allowed\. Use one of its named constructors instead\.$#'
            count: 1
            path: ../../tests/system/Debug/ExceptionsTest.php

        -
            message: '#^Instantiating FrameworkException using new is not allowed\. Use one of its named constructors instead\.$#'
            count: 1
            path: ../../tests/system/DebugTraceableTraitTest.php
