# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Argument \#1 \$name \(class\-string\) passed to function model does not extend CodeIgniter\\\\Model\.$#'
            count: 1
            path: ../../system/RESTful/BaseResource.php
