# total 5 errors

parameters:
    ignoreErrors:
        -
            message: '#^Assigning string directly on offset string of \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/Config/DotEnv.php

        -
            message: '#^Assigning ''1'' directly on offset ''CODEIGNITER_SCREAM_DEPRECATIONS'' of \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Debug/ExceptionsTest.php

        -
            message: '#^Assigning ''test'' directly on offset ''HTTPS'' of \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/HomeTest.php

        -
            message: '#^Assigning ''test'' directly on offset ''HTTPS'' of \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Test/FeatureTestAutoRoutingImprovedTest.php

        -
            message: '#^Assigning ''test'' directly on offset ''HTTPS'' of \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Test/FeatureTestTraitTest.php
