# total 4 errors

parameters:
    ignoreErrors:
        -
            message: '#^Argument \#1 \$name \(''Config\\\\Modules''\) passed to function config does not extend CodeIgniter\\\\Config\\\\BaseConfig\.$#'
            count: 1
            path: ../../system/Config/Services.php

        -
            message: '#^Argument \#1 \$name \(''Config\\\\Modules''\) passed to function config does not extend CodeIgniter\\\\Config\\\\BaseConfig\.$#'
            count: 1
            path: ../../system/Events/Events.php

        -
            message: '#^Argument \#1 \$name \(''Config\\\\Modules''\) passed to function config does not extend CodeIgniter\\\\Config\\\\BaseConfig\.$#'
            count: 1
            path: ../../system/Filters/Filters.php

        -
            message: '#^Argument \#1 \$name \(''Modules''\) passed to function config does not extend CodeIgniter\\\\Config\\\\BaseConfig\.$#'
            count: 1
            path: ../../tests/system/Events/EventsTest.php
