# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Direct assignment of ''cookie\-secret'' to \$_COOKIE\[''debug_cookie''\] is not allowed\.$#'
            count: 1
            path: ../../tests/system/Debug/ExceptionHandlerTest.php

        -
            message: '#^Direct assignment of ''post\-secret'' to \$_POST\[''debug_post''\] is not allowed\.$#'
            count: 1
            path: ../../tests/system/Debug/ExceptionHandlerTest.php
