# total 29 errors

parameters:
    ignoreErrors:
        -
            message: '#^Accessing offset ''ANSICON'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/CLI/CLI.php

        -
            message: '#^Accessing offset ''NO_COLOR'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/CLI/CLI.php

        -
            message: '#^Accessing offset ''encryption\.key'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/Commands/Encryption/GenerateKey.php

        -
            message: '#^Accessing offset ''REMOTE_ADDR'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Accessing offset ''REQUEST_METHOD'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Accessing offset string directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Accessing offset ''CI_ENVIRONMENT'' directly on \$_SERVER is discouraged\.$#'
            count: 2
            path: ../../system/Config/AutoloadConfig.php

        -
            message: '#^Accessing offset non\-falsy\-string directly on \$_SERVER is discouraged\.$#'
            count: 4
            path: ../../system/Config/BaseConfig.php

        -
            message: '#^Accessing offset string directly on \$_SERVER is discouraged\.$#'
            count: 2
            path: ../../system/Config/DotEnv.php

        -
            message: '#^Accessing offset string directly on \$_GET is discouraged\.$#'
            count: 1
            path: ../../system/Superglobals.php

        -
            message: '#^Accessing offset string directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../system/Superglobals.php

        -
            message: '#^Accessing offset ''foo'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/CommonFunctionsSendTest.php

        -
            message: '#^Accessing offset ''foo'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/CommonFunctionsTest.php

        -
            message: '#^Accessing offset ''BAR'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Config/DotEnvTest.php

        -
            message: '#^Accessing offset ''FOO'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Config/DotEnvTest.php

        -
            message: '#^Accessing offset ''NULL'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Config/DotEnvTest.php

        -
            message: '#^Accessing offset ''SPACED'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Config/DotEnvTest.php

        -
            message: '#^Accessing offset ''SimpleConfig_simple_name'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Config/DotEnvTest.php

        -
            message: '#^Accessing offset ''CODEIGNITER_SCREAM_DEPRECATIONS'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/Debug/ExceptionsTest.php

        -
            message: '#^Accessing offset ''QUERY_STRING'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/HTTP/SiteURIFactoryDetectRoutePathTest.php

        -
            message: '#^Accessing offset ''CUSTOM_SERVER'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/SuperglobalsTest.php

        -
            message: '#^Accessing offset ''TEST_KEY'' directly on \$_SERVER is discouraged\.$#'
            count: 1
            path: ../../tests/system/SuperglobalsTest.php

        -
            message: '#^Accessing offset ''custom_get'' directly on \$_GET is discouraged\.$#'
            count: 1
            path: ../../tests/system/SuperglobalsTest.php

        -
            message: '#^Accessing offset ''test'' directly on \$_GET is discouraged\.$#'
            count: 1
            path: ../../tests/system/SuperglobalsTest.php
