# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Expression "\$cookie\[''expiry''\]" on a separate line does not do anything\.$#'
            count: 1
            path: ../../tests/system/Cookie/CookieTest.php

        -
            message: '#^Expression "\$entity\-\>ninth" on a separate line does not do anything\.$#'
            count: 1
            path: ../../tests/system/Entity/EntityTest.php
