# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Yield can be used only with these return types\: Generator, Iterator, Traversable, iterable\.$#'
            count: 1
            path: ../../tests/system/Database/Builder/SelectTest.php
