# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
            count: 1
            path: ../../system/View/View.php
