# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Property Config\\Autoload\:\:\$helpers \(list\<string\>\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../system/Autoloader/Autoloader.php

        -
            message: '#^Static property CodeIgniter\\Email\\Email\:\:\$func_overload \(bool\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../system/Email/Email.php
