# total 8 errors

parameters:
    ignoreErrors:
        -
            message: '#^Property CodeIgniter\\CLI\\BaseCommand\:\:\$description \(string\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../system/CLI/BaseCommand.php

        -
            message: '#^Property CodeIgniter\\CLI\\BaseCommand\:\:\$usage \(string\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../system/CLI/BaseCommand.php

        -
            message: '#^Property CodeIgniter\\CLI\\BaseCommand\:\:\$group \(string\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../system/CLI/Commands.php

        -
            message: '#^Property CodeIgniter\\Database\\BaseConnection\<mysqli,mysqli_result\>\:\:\$strictOn \(bool\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../system/Database/MySQLi/Connection.php

        -
            message: '#^Property CodeIgniter\\Database\\BaseConnection\<SQLite3,SQLite3Result\>\:\:\$password \(string\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../system/Database/SQLite3/Connection.php

        -
            message: '#^Property CodeIgniter\\CLI\\BaseCommand\:\:\$group \(string\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../tests/system/Commands/BaseCommandTest.php

        -
            message: '#^Property CodeIgniter\\Database\\BaseConnection\<object\|resource,object\|resource\>\:\:\$charset \(string\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../tests/system/Database/BaseConnectionTest.php

        -
            message: '#^Property CodeIgniter\\I18n\\TimeDifference\:\:\$days \(float\|int\) in isset\(\) is not nullable\.$#'
            count: 1
            path: ../../tests/system/I18n/TimeDifferenceTest.php
