# total 312 errors

includes:
    - argument.type.neon
    - arguments.count.neon
    - assign.propertyType.neon
    - deadCode.unreachable.neon
    - function.resultUnused.neon
    - method.childParameterType.neon
    - method.childReturnType.neon
    - method.notFound.neon
    - missingType.iterableValue.neon
    - missingType.parameter.neon
    - property.defaultValue.neon
    - property.notFound.neon
    - property.phpDocType.neon
    - staticMethod.notFound.neon
