includes:
    - argument.type.neon
    - assign.propertyType.neon
    - codeigniter.cacheHandlerInstance.neon
    - codeigniter.getReassignArray.neon
    - codeigniter.modelArgumentInstanceof.neon
    - codeigniter.modelArgumentType.neon
    - codeigniter.superglobalAccess.neon
    - codeigniter.superglobalAccessAssign.neon
    - codeigniter.unknownServiceMethod.neon
    - deadCode.unreachable.neon
    - empty.notAllowed.neon
    - empty.property.neon
    - function.alreadyNarrowedType.neon
    - generator.valueType.neon
    - isset.property.neon
    - method.alreadyNarrowedType.neon
    - method.childParameterType.neon
    - method.childReturnType.neon
    - method.notFound.neon
    - missingType.callable.neon
    - missingType.iterableValue.neon
    - missingType.parameter.neon
    - missingType.property.neon
    - missingType.return.neon
    - notIdentical.alwaysTrue.neon
    - nullCoalesce.property.neon
    - nullCoalesce.variable.neon
    - offsetAccess.notFound.neon
    - parameterByRef.unusedType.neon
    - property.defaultValue.neon
    - property.nonObject.neon
    - property.notFound.neon
    - property.phpDocType.neon
    - property.protected.neon
    - property.readOnlyByPhpDocAssignOutOfClass.neon
    - property.readOnlyByPhpDocDefaultValue.neon
    - property.unusedType.neon
    - return.missing.neon
    - return.unusedType.neon
    - staticMethod.notFound.neon
    - ternary.shortNotAllowed.neon
    - varTag.type.neon
    - variable.undefined.neon
