# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method Tests\\Support\\Test\\TestForReflectionHelper\:\:privateMethod\(\) is unused\.$#'
            count: 1
            path: ../../tests/_support/Test/TestForReflectionHelper.php

        -
            message: '#^Static method Tests\\Support\\Test\\TestForReflectionHelper\:\:privateStaticMethod\(\) is unused\.$#'
            count: 1
            path: ../../tests/_support/Test/TestForReflectionHelper.php
