# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''file\-5'' and ''file\-5'' will always evaluate to true\.$#'
            count: 1
            path: ../../tests/system/Helpers/TextHelperTest.php
