# total 18 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method CodeIgniter\\HTTP\\ResponseInterface\:\:pretend\(\)\.$#'
            count: 1
            path: ../../tests/system/CodeIgniterTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\Router\\RouteCollectionInterface\:\:get\(\)\.$#'
            count: 2
            path: ../../tests/system/Commands/Utilities/Routes/FilterFinderTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\Images\\Handlers\\BaseHandler\:\:getPathname\(\)\.$#'
            count: 1
            path: ../../tests/system/Images/BaseHandlerTest.php

        -
            message: '#^Call to an undefined method org\\bovigo\\vfs\\vfsStreamContent\:\:getContent\(\)\.$#'
            count: 3
            path: ../../tests/system/Images/GDHandlerTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\Model\:\:getLastQuery\(\)\.$#'
            count: 1
            path: ../../tests/system/Models/FindModelTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\Model\:\:undefinedMethodCall\(\)\.$#'
            count: 1
            path: ../../tests/system/Models/GeneralModelTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\HTTP\\ResponseInterface\:\:pretend\(\)\.$#'
            count: 1
            path: ../../tests/system/RESTful/ResourceControllerTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\View\\Table\:\:compileTemplate\(\)\.$#'
            count: 2
            path: ../../tests/system/View/TableTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\View\\Table\:\:defaultTemplate\(\)\.$#'
            count: 1
            path: ../../tests/system/View/TableTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\View\\Table\:\:prepArgs\(\)\.$#'
            count: 2
            path: ../../tests/system/View/TableTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\View\\Table\:\:setFromArray\(\)\.$#'
            count: 2
            path: ../../tests/system/View/TableTest.php

        -
            message: '#^Call to an undefined method CodeIgniter\\View\\Table\:\:setFromDBResult\(\)\.$#'
            count: 1
            path: ../../tests/system/View/TableTest.php
