# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Result of method CodeIgniter\\Commands\\ListCommands\:\:listFull\(\) \(void\) is used\.$#'
            count: 1
            path: ../../system/Commands/ListCommands.php

        -
            message: '#^Result of method CodeIgniter\\Commands\\ListCommands\:\:listSimple\(\) \(void\) is used\.$#'
            count: 1
            path: ../../system/Commands/ListCommands.php

        -
            message: '#^Result of method CodeIgniter\\Log\\Logger\:\:log\(\) \(void\) is used\.$#'
            count: 1
            path: ../../tests/system/Log/LoggerTest.php
