# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertFalse\(\) with false will always evaluate to false\.$#'
            count: 2
            path: ../../tests/system/Events/EventsTest.php

        -
            message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with false will always evaluate to false\.$#'
            count: 1
            path: ../../tests/system/Events/EventsTest.php
