# total 127 errors

parameters:
    ignoreErrors:
        -
            message: '#^Property CodeIgniter\\Database\\OCI8\\Connection\:\:\$resetStmtId has no type specified\.$#'
            count: 1
            path: ../../system/Database/OCI8/Connection.php

        -
            message: '#^Property CodeIgniter\\Database\\OCI8\\Connection\:\:\$validDSNs has no type specified\.$#'
            count: 1
            path: ../../system/Database/OCI8/Connection.php

        -
            message: '#^Property CodeIgniter\\Database\\Postgre\\Connection\:\:\$connect_timeout has no type specified\.$#'
            count: 1
            path: ../../system/Database/Postgre/Connection.php

        -
            message: '#^Property CodeIgniter\\Database\\Postgre\\Connection\:\:\$options has no type specified\.$#'
            count: 1
            path: ../../system/Database/Postgre/Connection.php

        -
            message: '#^Property CodeIgniter\\Database\\Postgre\\Connection\:\:\$service has no type specified\.$#'
            count: 1
            path: ../../system/Database/Postgre/Connection.php

        -
            message: '#^Property CodeIgniter\\Database\\Postgre\\Connection\:\:\$sslmode has no type specified\.$#'
            count: 1
            path: ../../system/Database/Postgre/Connection.php

        -
            message: '#^Property CodeIgniter\\Session\\Handlers\\ArrayHandler\:\:\$cache has no type specified\.$#'
            count: 1
            path: ../../system/Session/Handlers/ArrayHandler.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockCLIConfig\:\:\$CSRFExcludeURIs has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockCLIConfig.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockCURLRequest\:\:\$curl_options has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockCURLRequest.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockCURLRequest\:\:\$output has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockCURLRequest.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockFileLogger\:\:\$destination has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockFileLogger.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockLogger\:\:\$dateFormat has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockLogger.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockLogger\:\:\$handlers has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockLogger.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockLogger\:\:\$threshold has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockLogger.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockServices\:\:\$classmap has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockServices.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockServices\:\:\$psr4 has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockServices.php

        -
            message: '#^Property CodeIgniter\\Test\\Mock\\MockSession\:\:\$didRegenerate has no type specified\.$#'
            count: 1
            path: ../../system/Test/Mock/MockSession.php

        -
            message: '#^Property Tests\\Support\\Commands\\ParamsReveal\:\:\$args has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Commands/ParamsReveal.php

        -
            message: '#^Property Tests\\Support\\Config\\Validation\:\:\$signup has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Config/Validation.php

        -
            message: '#^Property Tests\\Support\\Config\\Validation\:\:\$signup_errors has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Config/Validation.php

        -
            message: '#^Property Tests\\Support\\Models\\EventModel\:\:\$beforeFindReturnData has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/EventModel.php

        -
            message: '#^Property Tests\\Support\\Models\\EventModel\:\:\$eventData has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/EventModel.php

        -
            message: '#^Property Tests\\Support\\Models\\EventModel\:\:\$tokens has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/EventModel.php

        -
            message: '#^Property Tests\\Support\\Models\\JobModel\:\:\$description has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/JobModel.php

        -
            message: '#^Property Tests\\Support\\Models\\JobModel\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/JobModel.php

        -
            message: '#^Property Tests\\Support\\Models\\UserModel\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/UserModel.php

        -
            message: '#^Property Tests\\Support\\Models\\UserModel\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/UserModel.php

        -
            message: '#^Property Tests\\Support\\Models\\UserModel\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/_support/Models/UserModel.php

        -
            message: '#^Property class@anonymous/tests/system/API/ResponseTraitTest\.php\:116\:\:\$formatter has no type specified\.$#'
            count: 2
            path: ../../tests/system/API/ResponseTraitTest.php

        -
            message: '#^Property class@anonymous/tests/system/API/ResponseTraitTest\.php\:173\:\:\$formatter has no type specified\.$#'
            count: 2
            path: ../../tests/system/API/ResponseTraitTest.php

        -
            message: '#^Property class@anonymous/tests/system/API/ResponseTraitTest\.php\:291\:\:\$formatter has no type specified\.$#'
            count: 2
            path: ../../tests/system/API/ResponseTraitTest.php

        -
            message: '#^Property CodeIgniter\\Config\\Factory@anonymous/tests/system/Config/FactoriesTest\.php\:89\:\:\$widgets has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/FactoriesTest.php

        -
            message: '#^Property RegistrarConfig\:\:\$bar has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/RegistrarConfig.php

        -
            message: '#^Property RegistrarConfig\:\:\$foo has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/RegistrarConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$FOO has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$QEMPTYSTR has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$QFALSE has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$QZERO has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$QZEROSTR has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$alpha has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$bravo has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$charlie has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$crew has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$default has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$delta has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$dessert has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$echo has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$first has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$float has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$foxtrot has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$fruit has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$golf has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$int has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$longie has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$one_deep has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$onedeep has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$onedeep_value has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$password has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$second has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$shortie has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property SimpleConfig\:\:\$simple has no type specified\.$#'
            count: 1
            path: ../../tests/system/Config/fixtures/SimpleConfig.php

        -
            message: '#^Property CodeIgniter\\Database\\Live\\ConnectTest\:\:\$group1 has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/ConnectTest.php

        -
            message: '#^Property CodeIgniter\\Database\\Live\\ConnectTest\:\:\$group2 has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/ConnectTest.php

        -
            message: '#^Property CodeIgniter\\Database\\Live\\ConnectTest\:\:\$tests has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/ConnectTest.php

        -
            message: '#^Property class@anonymous/tests/system/Database/Live/GetTest\.php\:256\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/GetTest.php

        -
            message: '#^Property class@anonymous/tests/system/Database/Live/GetTest\.php\:256\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/GetTest.php

        -
            message: '#^Property class@anonymous/tests/system/Database/Live/GetTest\.php\:256\:\:\$deleted_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/GetTest.php

        -
            message: '#^Property class@anonymous/tests/system/Database/Live/GetTest\.php\:256\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/GetTest.php

        -
            message: '#^Property class@anonymous/tests/system/Database/Live/GetTest\.php\:256\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/GetTest.php

        -
            message: '#^Property class@anonymous/tests/system/Database/Live/GetTest\.php\:256\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/GetTest.php

        -
            message: '#^Property class@anonymous/tests/system/Database/Live/GetTest\.php\:256\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/GetTest.php

        -
            message: '#^Property CodeIgniter\\Database\\Live\\MySQLi\\NumberNativeTest\:\:\$tests has no type specified\.$#'
            count: 1
            path: ../../tests/system/Database/Live/MySQLi/NumberNativeTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$_options has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$deleted has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:193\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$_options has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$deleted has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/InsertModelTest\.php\:287\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/InsertModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$_options has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$deleted has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:239\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:272\:\:\$_options has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:272\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:272\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:272\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/SaveModelTest\.php\:272\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Model@anonymous/tests/system/Models/SaveModelTest\.php\:288\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/SaveModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$_options has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$deleted has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:198\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$_options has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$deleted has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:217\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$_options has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$country has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$created_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$deleted has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$email has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$id has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$name has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property CodeIgniter\\Entity\\Entity@anonymous/tests/system/Models/UpdateModelTest\.php\:350\:\:\$updated_at has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php

        -
            message: '#^Property Config\\Validation@anonymous/tests/system/Models/ValidationModelTest\.php\:245\:\:\$grouptest has no type specified\.$#'
            count: 1
            path: ../../tests/system/Models/ValidationModelTest.php
