# total 68 errors

parameters:
    ignoreErrors:
        -
            message: '#^Function log_message\(\) has parameter \$context with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Function old\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Function stringify_attributes\(\) has parameter \$attributes with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Function view\(\) has parameter \$data with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Function view\(\) has parameter \$options with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Function view_cell\(\) has parameter \$params with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Common.php

        -
            message: '#^Method CodeIgniter\\Controller\:\:setValidator\(\) has parameter \$messages with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Controller.php

        -
            message: '#^Method CodeIgniter\\Controller\:\:setValidator\(\) has parameter \$rules with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Controller.php

        -
            message: '#^Method CodeIgniter\\Controller\:\:validateData\(\) has parameter \$data with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Controller.php

        -
            message: '#^Method CodeIgniter\\Controller\:\:validateData\(\) has parameter \$messages with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Controller.php

        -
            message: '#^Method CodeIgniter\\Controller\:\:validateData\(\) has parameter \$rules with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Controller.php

        -
            message: '#^Method CodeIgniter\\Controller\:\:validate\(\) has parameter \$messages with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Controller.php

        -
            message: '#^Method CodeIgniter\\Controller\:\:validate\(\) has parameter \$rules with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Controller.php

        -
            message: '#^Method CodeIgniter\\Cookie\\CookieStore\:\:validateCookies\(\) has parameter \$cookies with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Cookie/CookieStore.php

        -
            message: '#^Method CodeIgniter\\Exceptions\\PageNotFoundException\:\:lang\(\) has parameter \$args with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Exceptions/PageNotFoundException.php

        -
            message: '#^Method CodeIgniter\\HotReloader\\DirectoryHasher\:\:hashApp\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/HotReloader/DirectoryHasher.php

        -
            message: '#^Method CodeIgniter\\HotReloader\\HotReloader\:\:sendEvent\(\) has parameter \$data with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/HotReloader/HotReloader.php

        -
            message: '#^Property CodeIgniter\\HotReloader\\IteratorFilter\:\:\$watchedExtensions type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/HotReloader/IteratorFilter.php

        -
            message: '#^Method CodeIgniter\\Images\\Handlers\\BaseHandler\:\:__call\(\) has parameter \$args with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Images/Handlers/BaseHandler.php

        -
            message: '#^Method CodeIgniter\\Images\\Handlers\\BaseHandler\:\:calcAspectRatio\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Images/Handlers/BaseHandler.php

        -
            message: '#^Method CodeIgniter\\Images\\Handlers\\BaseHandler\:\:calcCropCoords\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Images/Handlers/BaseHandler.php

        -
            message: '#^Method CodeIgniter\\Images\\Image\:\:getProperties\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Images/Image.php

        -
            message: '#^Method CodeIgniter\\Modules\\Modules\:\:__set_state\(\) has parameter \$array with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Modules/Modules.php

        -
            message: '#^Method CodeIgniter\\Pager\\Pager\:\:getDetails\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Pager/Pager.php

        -
            message: '#^Method CodeIgniter\\Pager\\Pager\:\:only\(\) has parameter \$queries with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Pager/Pager.php

        -
            message: '#^Property CodeIgniter\\Pager\\Pager\:\:\$groups type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Pager/Pager.php

        -
            message: '#^Property CodeIgniter\\Pager\\Pager\:\:\$segment type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Pager/Pager.php

        -
            message: '#^Method CodeIgniter\\Pager\\PagerInterface\:\:getDetails\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Pager/PagerInterface.php

        -
            message: '#^Method CodeIgniter\\Pager\\PagerRenderer\:\:__construct\(\) has parameter \$details with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Pager/PagerRenderer.php

        -
            message: '#^Method CodeIgniter\\Publisher\\ContentReplacer\:\:replace\(\) has parameter \$replaces with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Publisher/ContentReplacer.php

        -
            message: '#^Method CodeIgniter\\Publisher\\Publisher\:\:replace\(\) has parameter \$replaces with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Publisher/Publisher.php

        -
            message: '#^Method CodeIgniter\\Typography\\Typography\:\:protectCharacters\(\) has parameter \$match with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Typography/Typography.php

        -
            message: '#^Property CodeIgniter\\Typography\\Typography\:\:\$innerBlockRequired type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/Typography/Typography.php

        -
            message: '#^Method class@anonymous/system/Traits/PropertiesTrait\.php\:51\:\:getProperties\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../system/View/Cells/Cell.php

        -
            message: '#^Method CodeIgniter\\AutoReview\\ComposerJsonTest\:\:checkConfig\(\) has parameter \$fromComponent with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/ComposerJsonTest.php

        -
            message: '#^Method CodeIgniter\\AutoReview\\ComposerJsonTest\:\:checkConfig\(\) has parameter \$fromMain with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/ComposerJsonTest.php

        -
            message: '#^Method CodeIgniter\\AutoReview\\ComposerJsonTest\:\:getComposerJson\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/ComposerJsonTest.php

        -
            message: '#^Property CodeIgniter\\AutoReview\\ComposerJsonTest\:\:\$devComposer type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/ComposerJsonTest.php

        -
            message: '#^Property CodeIgniter\\AutoReview\\ComposerJsonTest\:\:\$frameworkComposer type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/ComposerJsonTest.php

        -
            message: '#^Property CodeIgniter\\AutoReview\\ComposerJsonTest\:\:\$starterComposer type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/ComposerJsonTest.php

        -
            message: '#^Method CodeIgniter\\AutoReview\\FrameworkCodeTest\:\:getTestClasses\(\) return type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/FrameworkCodeTest.php

        -
            message: '#^Method CodeIgniter\\AutoReview\\FrameworkCodeTest\:\:provideEachTestClassHasCorrectGroupAttributeName\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/AutoReview/FrameworkCodeTest.php

        -
            message: '#^Property CodeIgniter\\AutoReview\\FrameworkCodeTest\:\:\$recognizedGroupAttributeNames type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/FrameworkCodeTest.php

        -
            message: '#^Property CodeIgniter\\AutoReview\\FrameworkCodeTest\:\:\$testClasses type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/AutoReview/FrameworkCodeTest.php

        -
            message: '#^Method CodeIgniter\\CLI\\CLITest\:\:provideTable\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/CLI/CLITest.php

        -
            message: '#^Method CodeIgniter\\CLI\\CLITest\:\:testTable\(\) has parameter \$expected with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/CLI/CLITest.php

        -
            message: '#^Method CodeIgniter\\CLI\\CLITest\:\:testTable\(\) has parameter \$tbody with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/CLI/CLITest.php

        -
            message: '#^Method CodeIgniter\\CLI\\CLITest\:\:testTable\(\) has parameter \$thead with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/CLI/CLITest.php

        -
            message: '#^Method CodeIgniter\\CodeIgniterTest\:\:providePageCacheWithCacheQueryString\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/CodeIgniterTest.php

        -
            message: '#^Method CodeIgniter\\CodeIgniterTest\:\:testPageCacheWithCacheQueryString\(\) has parameter \$cacheQueryStringValue with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/CodeIgniterTest.php

        -
            message: '#^Method CodeIgniter\\CodeIgniterTest\:\:testPageCacheWithCacheQueryString\(\) has parameter \$testingUrls with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/CodeIgniterTest.php

        -
            message: '#^Method CodeIgniter\\CommonFunctionsTest\:\:provideCleanPathActuallyCleaningThePaths\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/CommonFunctionsTest.php

        -
            message: '#^Property CodeIgniter\\CommonHelperTest\:\:\$dummyHelpers type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/CommonHelperTest.php

        -
            message: '#^Property CodeIgniter\\Cookie\\CookieStoreTest\:\:\$defaults type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/Cookie/CookieStoreTest.php

        -
            message: '#^Method CodeIgniter\\Cookie\\CookieTest\:\:provideConfigPrefix\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Cookie/CookieTest.php

        -
            message: '#^Method CodeIgniter\\Cookie\\CookieTest\:\:provideInvalidExpires\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Cookie/CookieTest.php

        -
            message: '#^Method CodeIgniter\\Cookie\\CookieTest\:\:provideSetCookieHeaderCreation\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Cookie/CookieTest.php

        -
            message: '#^Method CodeIgniter\\Cookie\\CookieTest\:\:testSetCookieHeaderCreation\(\) has parameter \$changed with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/Cookie/CookieTest.php

        -
            message: '#^Property CodeIgniter\\Cookie\\CookieTest\:\:\$defaults type has no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/Cookie/CookieTest.php

        -
            message: '#^Method CodeIgniter\\Models\\FindModelTest\:\:provideAggregateAndGroupBy\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Models/FindModelTest.php

        -
            message: '#^Method CodeIgniter\\Models\\FindModelTest\:\:provideFirstAggregate\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Models/FindModelTest.php

        -
            message: '#^Method CodeIgniter\\Models\\TimestampModelTest\:\:allowDatesPrepareOneRecord\(\) has parameter \$data with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/Models/TimestampModelTest.php

        -
            message: '#^Method CodeIgniter\\Models\\TimestampModelTest\:\:doNotAllowDatesPrepareOneRecord\(\) has parameter \$data with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/Models/TimestampModelTest.php

        -
            message: '#^Method CodeIgniter\\Publisher\\PublisherRestrictionsTest\:\:provideDefaultPublicRestrictions\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Publisher/PublisherRestrictionsTest.php

        -
            message: '#^Method CodeIgniter\\Publisher\\PublisherRestrictionsTest\:\:provideDestinations\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Publisher/PublisherRestrictionsTest.php

        -
            message: '#^Method CodeIgniter\\RESTful\\ResourceControllerTest\:\:invoke\(\) has parameter \$args with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/RESTful/ResourceControllerTest.php

        -
            message: '#^Method CodeIgniter\\Throttle\\ThrottleTest\:\:provideTokenTimeCalculationUCs\(\) return type has no value type specified in iterable type iterable\.$#'
            count: 1
            path: ../../tests/system/Throttle/ThrottleTest.php

        -
            message: '#^Method CodeIgniter\\Throttle\\ThrottleTest\:\:testTokenTimeCalculationUCs\(\) has parameter \$checkInputs with no value type specified in iterable type array\.$#'
            count: 1
            path: ../../tests/system/Throttle/ThrottleTest.php
