# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method CodeIgniter\\Entity\\EntityTest\:\:getCastEntity\(\) has parameter \$data with no type specified\.$#'
            count: 1
            path: ../../tests/system/Entity/EntityTest.php

        -
            message: '#^Method CodeIgniter\\Security\\SecurityCSRFSessionRandomizeTokenTest\:\:createSession\(\) has parameter \$options with no type specified\.$#'
            count: 1
            path: ../../tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php

        -
            message: '#^Method CodeIgniter\\Security\\SecurityCSRFSessionTest\:\:createSession\(\) has parameter \$options with no type specified\.$#'
            count: 1
            path: ../../tests/system/Security/SecurityCSRFSessionTest.php
