# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
            count: 1
            path: ../../system/BaseModel.php

        -
            message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
            count: 1
            path: ../../system/HTTP/SiteURI.php

        -
            message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
            count: 1
            path: ../../system/HTTP/URI.php
