# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Expression on left side of \?\? is not nullable\.$#'
            count: 1
            path: ../../system/HTTP/Files/UploadedFile.php

        -
            message: '#^Expression on left side of \?\? is not nullable\.$#'
            count: 1
            path: ../../system/Router/Router.php
