# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Access to an undefined property CodeIgniter\\I18n\\TimeLegacy\:\:\$foobar\.$#'
            count: 1
            path: ../../tests/system/I18n/TimeLegacyTest.php

        -
            message: '#^Access to an undefined property CodeIgniter\\I18n\\TimeLegacy\:\:\$timezoneName\.$#'
            count: 1
            path: ../../tests/system/I18n/TimeLegacyTest.php

        -
            message: '#^Access to an undefined property CodeIgniter\\I18n\\TimeLegacy\:\:\$weekOfWeek\.$#'
            count: 1
            path: ../../tests/system/I18n/TimeLegacyTest.php

        -
            message: '#^Access to an undefined property CodeIgniter\\I18n\\Time\:\:\$foobar\.$#'
            count: 1
            path: ../../tests/system/I18n/TimeTest.php

        -
            message: '#^Access to an undefined property CodeIgniter\\I18n\\Time\:\:\$timezoneName\.$#'
            count: 1
            path: ../../tests/system/I18n/TimeTest.php

        -
            message: '#^Access to an undefined property CodeIgniter\\I18n\\Time\:\:\$weekOfWeek\.$#'
            count: 1
            path: ../../tests/system/I18n/TimeTest.php
