# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Method CodeIgniter\\Commands\\Utilities\\Routes\\FilterFinderTest\:\:createRouteCollection\(\) should return CodeIgniter\\Router\\RouteCollection but returns CodeIgniter\\Router\\RouteCollectionInterface\.$#'
            count: 1
            path: ../../tests/system/Commands/Utilities/Routes/FilterFinderTest.php
