# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Method CodeIgniter\\Images\\Handlers\\BaseHandler\:\:__call\(\) should return mixed but return statement is missing\.$#'
            count: 1
            path: ../../system/Images/Handlers/BaseHandler.php
