# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Method CodeIgniter\\Test\\Mock\\MockResult\:\:fetchAssoc\(\) should return mixed but return statement is missing\.$#'
            count: 1
            path: ../../system/Test/Mock/MockResult.php
