# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined static method CodeIgniter\\Images\\Exceptions\\ImageException\:\:forMissingExtension\(\)\.$#'
            count: 1
            path: ../../system/Images/Handlers/GDHandler.php
