# total 8 errors

parameters:
    ignoreErrors:
        -
            message: '#^Only booleans are allowed in a ternary operator condition, array\|null given\.$#'
            count: 1
            path: ../../system/BaseModel.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, string\|null given\.$#'
            count: 1
            path: ../../system/CLI/CLI.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, int\<0, max\> given\.$#'
            count: 3
            path: ../../system/Database/MigrationRunner.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, string\|null given\.$#'
            count: 1
            path: ../../system/Database/MigrationRunner.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, int\|null given\.$#'
            count: 1
            path: ../../system/HTTP/OutgoingRequest.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, string\|null given\.$#'
            count: 1
            path: ../../system/Helpers/text_helper.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, string\|null given\.$#'
            count: 1
            path: ../../system/Router/AutoRouter.php

        -
            message: '#^Only booleans are allowed in a ternary operator condition, string\|null given\.$#'
            count: 1
            path: ../../system/Router/RouteCollection.php
