# total 2 errors
# Note: Cookie.php and Database.php use short ternary (?.:) which is preferred
# by the CS Fixer config. These are intentionally kept as short ternary.

parameters:
    ignoreErrors:
        -
            message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
            count: 5
            path: ../../system/Cookie/Cookie.php

        -
            message: '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary\.$#'
            count: 1
            path: ../../system/Debug/Toolbar/Collectors/Database.php
