# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^PHPDoc tag @var with type Tests\\Support\\Entity\\UserWithCasts is not subtype of type list\<array\{\}\>\|null\.$#'
            count: 1
            path: ../../tests/system/Models/FindModelTest.php

        -
            message: '#^PHPDoc tag @var with type stdClass is not subtype of type array\{\}\|null\.$#'
            count: 1
            path: ../../tests/system/Models/UpdateModelTest.php
