# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^PHPDoc tag @var with type Imagick is not subtype of type resource\.$#'
            count: 2
            path: ../../tests/system/Images/ImageMagickHandlerTest.php
