/*! CodeIgniter 4 - Debug bar
 * ============================================================================
 * Forum: 	https://forum.codeigniter.com
 * Github:	https://github.com/codeigniter4/codeigniter4
 * Slack: 	https://codeigniterchat.slack.com
 * Website: https://codeigniter.com
 */
#debug-icon {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
  height: 36px;
  width: 36px;
  margin: 0px;
  padding: 0px;
  clear: both;
  text-align: center; }
  #debug-icon a svg {
    margin: 8px;
    max-width: 20px;
    max-height: 20px; }
  #debug-icon.fixed-top {
    bottom: auto;
    top: 0; }
  #debug-icon .debug-bar-ndisplay {
    display: none; }

#debug-bar {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
  height: 36px;
  line-height: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 400; }
  #debug-bar h1 {
    bottom: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: 0 16px 0 0;
    padding: 0;
    position: absolute;
    right: 30px;
    text-align: left;
    top: 0; }
    #debug-bar h1 svg {
      width: 16px;
      margin-right: 5px; }
  #debug-bar h2 {
    font-size: 16px;
    margin: 0;
    padding: 5px 0 10px 0; }
    #debug-bar h2 span {
      font-size: 13px; }
  #debug-bar h3 {
    font-size: 12px;
    font-weight: 200;
    margin: 0 0 0 10px;
    padding: 0;
    text-transform: uppercase; }
  #debug-bar p {
    font-size: 12px;
    margin: 0 0 0 15px;
    padding: 0; }
  #debug-bar a {
    text-decoration: none; }
    #debug-bar a:hover {
      text-decoration: underline; }
  #debug-bar button {
    border: 1px solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    line-height: 15px; }
    #debug-bar button:hover {
      text-decoration: underline; }
  #debug-bar table {
    border-collapse: collapse;
    font-size: 14px;
    line-height: normal;
    margin: 5px 10px 15px 10px;
    width: calc(100% - 10px); }
    #debug-bar table strong {
      font-weight: 500; }
    #debug-bar table th {
      display: table-cell;
      font-weight: 600;
      padding-bottom: 0.7em;
      text-align: left; }
    #debug-bar table tr {
      border: none; }
    #debug-bar table td {
      border: none;
      display: table-cell;
      margin: 0;
      text-align: left; }
      #debug-bar table td:first-child {
        max-width: 20%; }
        #debug-bar table td:first-child.narrow {
          width: 7em; }
  #debug-bar td[data-debugbar-route] form {
    display: none; }
  #debug-bar td[data-debugbar-route]:hover form {
    display: block; }
  #debug-bar td[data-debugbar-route]:hover > div {
    display: none; }
  #debug-bar td[data-debugbar-route] input[type=text] {
    padding: 2px; }
  #debug-bar .toolbar {
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 12px 0 12px;
    /* give room for OS X scrollbar */
    white-space: nowrap;
    z-index: 10000; }
  #debug-bar.fixed-top {
    bottom: auto;
    top: 0; }
    #debug-bar.fixed-top .tab {
      bottom: auto;
      top: 36px; }
  #debug-bar #toolbar-position a,
  #debug-bar #toolbar-theme a {
    padding: 0 6px;
    display: inline-flex;
    vertical-align: top; }
    #debug-bar #toolbar-position a:hover,
    #debug-bar #toolbar-theme a:hover {
      text-decoration: none; }
  #debug-bar #debug-bar-link {
    bottom: 0;
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    padding: 6px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 24px; }
  #debug-bar .ci-label {
    display: inline-flex;
    font-size: 14px; }
    #debug-bar .ci-label:hover {
      cursor: pointer; }
    #debug-bar .ci-label a {
      color: inherit;
      display: flex;
      letter-spacing: normal;
      padding: 0 10px;
      text-decoration: none;
      align-items: center; }
    #debug-bar .ci-label img {
      margin: 6px 3px 6px 0;
      width: 16px !important; }
    #debug-bar .ci-label .badge {
      border-radius: 12px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      display: inline-block;
      font-size: 75%;
      font-weight: bold;
      line-height: 12px;
      margin-left: 5px;
      padding: 2px 5px;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap; }
  #debug-bar .tab {
    bottom: 35px;
    display: none;
    left: 0;
    max-height: 62%;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em 2em;
    position: fixed;
    right: 0;
    z-index: 9999; }
  #debug-bar .timeline {
    margin-left: 0;
    width: 100%; }
    #debug-bar .timeline th {
      border-left: 1px solid;
      font-size: 12px;
      font-weight: 200;
      padding: 5px 5px 10px 5px;
      position: relative;
      text-align: left; }
      #debug-bar .timeline th:first-child {
        border-left: 0; }
    #debug-bar .timeline td {
      border-left: 1px solid;
      padding: 5px;
      position: relative; }
      #debug-bar .timeline td:first-child {
        border-left: 0; }
    #debug-bar .timeline .timer {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      display: inline-block;
      padding: 5px;
      position: absolute;
      top: 30%; }
  #debug-bar .route-params,
  #debug-bar .route-params-item {
    vertical-align: top; }
    #debug-bar .route-params td:first-child,
    #debug-bar .route-params-item td:first-child {
      font-style: italic;
      padding-left: 1em;
      text-align: right; }

.debug-view.show-view {
  border: 1px solid;
  margin: 4px; }

.debug-view-path {
  font-family: monospace;
  font-size: 12px;
  letter-spacing: normal;
  min-height: 16px;
  padding: 2px;
  text-align: left; }

.show-view .debug-view-path {
  display: block !important; }

@media screen and (max-width: 1024px) {
  #debug-bar .ci-label img {
    margin: unset; }
  .hide-sm {
    display: none !important; } }

#debug-icon {
  background-color: #FFFFFF;
  box-shadow: 0 0 4px #DFDFDF;
  -moz-box-shadow: 0 0 4px #DFDFDF;
  -webkit-box-shadow: 0 0 4px #DFDFDF; }
  #debug-icon a:active, #debug-icon a:link, #debug-icon a:visited {
    color: #DD8615; }

#debug-bar {
  background-color: #FFFFFF;
  color: #434343; }
  #debug-bar h1,
  #debug-bar h2,
  #debug-bar h3,
  #debug-bar p,
  #debug-bar a,
  #debug-bar button,
  #debug-bar table,
  #debug-bar thead,
  #debug-bar tr,
  #debug-bar td,
  #debug-bar button,
  #debug-bar .toolbar {
    background-color: transparent;
    color: #434343; }
  #debug-bar button {
    background-color: #FFFFFF; }
  #debug-bar table strong {
    color: #FDC894; }
  #debug-bar table tbody tr:hover {
    background-color: #DFDFDF; }
  #debug-bar table tbody tr.current {
    background-color: #FDC894; }
    #debug-bar table tbody tr.current:hover td {
      background-color: #DD4814;
      color: #FFFFFF; }
  #debug-bar .toolbar {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px #DFDFDF;
    -moz-box-shadow: 0 0 4px #DFDFDF;
    -webkit-box-shadow: 0 0 4px #DFDFDF; }
    #debug-bar .toolbar img {
      filter: brightness(0) invert(0.4); }
  #debug-bar.fixed-top .toolbar {
    box-shadow: 0 0 4px #DFDFDF;
    -moz-box-shadow: 0 0 4px #DFDFDF;
    -webkit-box-shadow: 0 0 4px #DFDFDF; }
  #debug-bar.fixed-top .tab {
    box-shadow: 0 1px 4px #DFDFDF;
    -moz-box-shadow: 0 1px 4px #DFDFDF;
    -webkit-box-shadow: 0 1px 4px #DFDFDF; }
  #debug-bar .muted {
    color: #434343; }
    #debug-bar .muted td {
      color: #DFDFDF; }
    #debug-bar .muted:hover td {
      color: #434343; }
  #debug-bar #toolbar-position,
  #debug-bar #toolbar-theme {
    filter: brightness(0) invert(0.6); }
  #debug-bar .ci-label.active {
    background-color: #DFDFDF; }
  #debug-bar .ci-label:hover {
    background-color: #DFDFDF; }
  #debug-bar .ci-label .badge {
    background-color: #5BC0DE;
    color: #FFFFFF; }
  #debug-bar .tab {
    background-color: #FFFFFF;
    box-shadow: 0 -1px 4px #DFDFDF;
    -moz-box-shadow: 0 -1px 4px #DFDFDF;
    -webkit-box-shadow: 0 -1px 4px #DFDFDF; }
  #debug-bar .timeline th,
  #debug-bar .timeline td {
    border-color: #DFDFDF; }
  #debug-bar .timeline .timer {
    background-color: #DD8615; }

.debug-view.show-view {
  border-color: #DD8615; }

.debug-view-path {
  background-color: #FDC894;
  color: #434343; }

@media (prefers-color-scheme: dark) {
  #debug-icon {
    background-color: #252525;
    box-shadow: 0 0 4px #DFDFDF;
    -moz-box-shadow: 0 0 4px #DFDFDF;
    -webkit-box-shadow: 0 0 4px #DFDFDF; }
    #debug-icon a:active, #debug-icon a:link, #debug-icon a:visited {
      color: #DD8615; }
  #debug-bar {
    background-color: #252525;
    color: #DFDFDF; }
    #debug-bar h1,
    #debug-bar h2,
    #debug-bar h3,
    #debug-bar p,
    #debug-bar a,
    #debug-bar button,
    #debug-bar table,
    #debug-bar thead,
    #debug-bar tr,
    #debug-bar td,
    #debug-bar button,
    #debug-bar .toolbar {
      background-color: transparent;
      color: #DFDFDF; }
    #debug-bar button {
      background-color: #252525; }
    #debug-bar table strong {
      color: #FDC894; }
    #debug-bar table tbody tr:hover {
      background-color: #434343; }
    #debug-bar table tbody tr.current {
      background-color: #FDC894; }
      #debug-bar table tbody tr.current td {
        color: #252525; }
      #debug-bar table tbody tr.current:hover td {
        background-color: #DD4814;
        color: #FFFFFF; }
    #debug-bar .toolbar {
      background-color: #434343;
      box-shadow: 0 0 4px #434343;
      -moz-box-shadow: 0 0 4px #434343;
      -webkit-box-shadow: 0 0 4px #434343; }
      #debug-bar .toolbar img {
        filter: brightness(0) invert(1); }
    #debug-bar.fixed-top .toolbar {
      box-shadow: 0 0 4px #434343;
      -moz-box-shadow: 0 0 4px #434343;
      -webkit-box-shadow: 0 0 4px #434343; }
    #debug-bar.fixed-top .tab {
      box-shadow: 0 1px 4px #434343;
      -moz-box-shadow: 0 1px 4px #434343;
      -webkit-box-shadow: 0 1px 4px #434343; }
    #debug-bar .muted {
      color: #DFDFDF; }
      #debug-bar .muted td {
        color: #434343; }
      #debug-bar .muted:hover td {
        color: #DFDFDF; }
    #debug-bar #toolbar-position,
    #debug-bar #toolbar-theme {
      filter: brightness(0) invert(0.6); }
    #debug-bar .ci-label.active {
      background-color: #252525; }
    #debug-bar .ci-label:hover {
      background-color: #252525; }
    #debug-bar .ci-label .badge {
      background-color: #5BC0DE;
      color: #DFDFDF; }
    #debug-bar .tab {
      background-color: #252525;
      box-shadow: 0 -1px 4px #434343;
      -moz-box-shadow: 0 -1px 4px #434343;
      -webkit-box-shadow: 0 -1px 4px #434343; }
    #debug-bar .timeline th,
    #debug-bar .timeline td {
      border-color: #434343; }
    #debug-bar .timeline .timer {
      background-color: #DD8615; }
  .debug-view.show-view {
    border-color: #DD8615; }
  .debug-view-path {
    background-color: #FDC894;
    color: #434343; } }

#toolbarContainer.dark #debug-icon {
  background-color: #252525;
  box-shadow: 0 0 4px #DFDFDF;
  -moz-box-shadow: 0 0 4px #DFDFDF;
  -webkit-box-shadow: 0 0 4px #DFDFDF; }
  #toolbarContainer.dark #debug-icon a:active, #toolbarContainer.dark #debug-icon a:link, #toolbarContainer.dark #debug-icon a:visited {
    color: #DD8615; }

#toolbarContainer.dark #debug-bar {
  background-color: #252525;
  color: #DFDFDF; }
  #toolbarContainer.dark #debug-bar h1,
  #toolbarContainer.dark #debug-bar h2,
  #toolbarContainer.dark #debug-bar h3,
  #toolbarContainer.dark #debug-bar p,
  #toolbarContainer.dark #debug-bar a,
  #toolbarContainer.dark #debug-bar button,
  #toolbarContainer.dark #debug-bar table,
  #toolbarContainer.dark #debug-bar thead,
  #toolbarContainer.dark #debug-bar tr,
  #toolbarContainer.dark #debug-bar td,
  #toolbarContainer.dark #debug-bar button,
  #toolbarContainer.dark #debug-bar .toolbar {
    background-color: transparent;
    color: #DFDFDF; }
  #toolbarContainer.dark #debug-bar button {
    background-color: #252525; }
  #toolbarContainer.dark #debug-bar table strong {
    color: #FDC894; }
  #toolbarContainer.dark #debug-bar table tbody tr:hover {
    background-color: #434343; }
  #toolbarContainer.dark #debug-bar table tbody tr.current {
    background-color: #FDC894; }
    #toolbarContainer.dark #debug-bar table tbody tr.current td {
      color: #252525; }
    #toolbarContainer.dark #debug-bar table tbody tr.current:hover td {
      background-color: #DD4814;
      color: #FFFFFF; }
  #toolbarContainer.dark #debug-bar .toolbar {
    background-color: #434343;
    box-shadow: 0 0 4px #434343;
    -moz-box-shadow: 0 0 4px #434343;
    -webkit-box-shadow: 0 0 4px #434343; }
    #toolbarContainer.dark #debug-bar .toolbar img {
      filter: brightness(0) invert(1); }
  #toolbarContainer.dark #debug-bar.fixed-top .toolbar {
    box-shadow: 0 0 4px #434343;
    -moz-box-shadow: 0 0 4px #434343;
    -webkit-box-shadow: 0 0 4px #434343; }
  #toolbarContainer.dark #debug-bar.fixed-top .tab {
    box-shadow: 0 1px 4px #434343;
    -moz-box-shadow: 0 1px 4px #434343;
    -webkit-box-shadow: 0 1px 4px #434343; }
  #toolbarContainer.dark #debug-bar .muted {
    color: #DFDFDF; }
    #toolbarContainer.dark #debug-bar .muted td {
      color: #434343; }
    #toolbarContainer.dark #debug-bar .muted:hover td {
      color: #DFDFDF; }
  #toolbarContainer.dark #debug-bar #toolbar-position,
  #toolbarContainer.dark #debug-bar #toolbar-theme {
    filter: brightness(0) invert(0.6); }
  #toolbarContainer.dark #debug-bar .ci-label.active {
    background-color: #252525; }
  #toolbarContainer.dark #debug-bar .ci-label:hover {
    background-color: #252525; }
  #toolbarContainer.dark #debug-bar .ci-label .badge {
    background-color: #5BC0DE;
    color: #DFDFDF; }
  #toolbarContainer.dark #debug-bar .tab {
    background-color: #252525;
    box-shadow: 0 -1px 4px #434343;
    -moz-box-shadow: 0 -1px 4px #434343;
    -webkit-box-shadow: 0 -1px 4px #434343; }
  #toolbarContainer.dark #debug-bar .timeline th,
  #toolbarContainer.dark #debug-bar .timeline td {
    border-color: #434343; }
  #toolbarContainer.dark #debug-bar .timeline .timer {
    background-color: #DD8615; }

#toolbarContainer.dark .debug-view.show-view {
  border-color: #DD8615; }

#toolbarContainer.dark .debug-view-path {
  background-color: #FDC894;
  color: #434343; }

#toolbarContainer.dark td[data-debugbar-route] input[type=text] {
  background: #000;
  color: #fff; }

#toolbarContainer.light #debug-icon {
  background-color: #FFFFFF;
  box-shadow: 0 0 4px #DFDFDF;
  -moz-box-shadow: 0 0 4px #DFDFDF;
  -webkit-box-shadow: 0 0 4px #DFDFDF; }
  #toolbarContainer.light #debug-icon a:active, #toolbarContainer.light #debug-icon a:link, #toolbarContainer.light #debug-icon a:visited {
    color: #DD8615; }

#toolbarContainer.light #debug-bar {
  background-color: #FFFFFF;
  color: #434343; }
  #toolbarContainer.light #debug-bar h1,
  #toolbarContainer.light #debug-bar h2,
  #toolbarContainer.light #debug-bar h3,
  #toolbarContainer.light #debug-bar p,
  #toolbarContainer.light #debug-bar a,
  #toolbarContainer.light #debug-bar button,
  #toolbarContainer.light #debug-bar table,
  #toolbarContainer.light #debug-bar thead,
  #toolbarContainer.light #debug-bar tr,
  #toolbarContainer.light #debug-bar td,
  #toolbarContainer.light #debug-bar button,
  #toolbarContainer.light #debug-bar .toolbar {
    background-color: transparent;
    color: #434343; }
  #toolbarContainer.light #debug-bar button {
    background-color: #FFFFFF; }
  #toolbarContainer.light #debug-bar table strong {
    color: #FDC894; }
  #toolbarContainer.light #debug-bar table tbody tr:hover {
    background-color: #DFDFDF; }
  #toolbarContainer.light #debug-bar table tbody tr.current {
    background-color: #FDC894; }
    #toolbarContainer.light #debug-bar table tbody tr.current:hover td {
      background-color: #DD4814;
      color: #FFFFFF; }
  #toolbarContainer.light #debug-bar .toolbar {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px #DFDFDF;
    -moz-box-shadow: 0 0 4px #DFDFDF;
    -webkit-box-shadow: 0 0 4px #DFDFDF; }
    #toolbarContainer.light #debug-bar .toolbar img {
      filter: brightness(0) invert(0.4); }
  #toolbarContainer.light #debug-bar.fixed-top .toolbar {
    box-shadow: 0 0 4px #DFDFDF;
    -moz-box-shadow: 0 0 4px #DFDFDF;
    -webkit-box-shadow: 0 0 4px #DFDFDF; }
  #toolbarContainer.light #debug-bar.fixed-top .tab {
    box-shadow: 0 1px 4px #DFDFDF;
    -moz-box-shadow: 0 1px 4px #DFDFDF;
    -webkit-box-shadow: 0 1px 4px #DFDFDF; }
  #toolbarContainer.light #debug-bar .muted {
    color: #434343; }
    #toolbarContainer.light #debug-bar .muted td {
      color: #DFDFDF; }
    #toolbarContainer.light #debug-bar .muted:hover td {
      color: #434343; }
  #toolbarContainer.light #debug-bar #toolbar-position,
  #toolbarContainer.light #debug-bar #toolbar-theme {
    filter: brightness(0) invert(0.6); }
  #toolbarContainer.light #debug-bar .ci-label.active {
    background-color: #DFDFDF; }
  #toolbarContainer.light #debug-bar .ci-label:hover {
    background-color: #DFDFDF; }
  #toolbarContainer.light #debug-bar .ci-label .badge {
    background-color: #5BC0DE;
    color: #FFFFFF; }
  #toolbarContainer.light #debug-bar .tab {
    background-color: #FFFFFF;
    box-shadow: 0 -1px 4px #DFDFDF;
    -moz-box-shadow: 0 -1px 4px #DFDFDF;
    -webkit-box-shadow: 0 -1px 4px #DFDFDF; }
  #toolbarContainer.light #debug-bar .timeline th,
  #toolbarContainer.light #debug-bar .timeline td {
    border-color: #DFDFDF; }
  #toolbarContainer.light #debug-bar .timeline .timer {
    background-color: #DD8615; }

#toolbarContainer.light .debug-view.show-view {
  border-color: #DD8615; }

#toolbarContainer.light .debug-view-path {
  background-color: #FDC894;
  color: #434343; }

.debug-bar-width30 {
  width: 30%; }

.debug-bar-width10 {
  width: 10%; }

.debug-bar-width70p {
  width: 70px; }

.debug-bar-width140p {
  width: 140px; }

.debug-bar-width20e {
  width: 20em; }

.debug-bar-width6r {
  width: 6rem; }

.debug-bar-ndisplay {
  display: none; }

.debug-bar-alignRight {
  text-align: right; }

.debug-bar-alignLeft {
  text-align: left; }

.debug-bar-noverflow {
  overflow: hidden; }
