@import 'theme.css';

.highlighted {
	padding: 0px !important;
	font-weight: inherit !important;
	background-color: #f1d40f !important;
}

#nav {
	background-color: #494949!important;
	margin: 0;
	padding: 0;
	display: none;
}

#nav2 {
	background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAARgAA/+4ADkFkb2JlAGTAAAAAAf/bAIQABAMDAwMDBAMDBAYEAwQGBwUEBAUHCAYGBwYGCAoICQkJCQgKCgwMDAwMCgwMDQ0MDBERERERFBQUFBQUFBQUFAEEBQUIBwgPCgoPFA4ODhQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU/8AAEQgAMgAzAwERAAIRAQMRAf/EAFkAAQADAQAAAAAAAAAAAAAAAAABBQcIAQEAAAAAAAAAAAAAAAAAAAAAEAABAgYDAAAAAAAAAAAAAAAAAVERAtMEFJRVBxgRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AMRAAAAAAAA7a87dZcCu3e1wHnbrLgV272uA87dZcCu3e1wHnbrLgV272uA87dZcCu3e1wHnbrLgV272uA87dZcCu3e1wN/wJGAYEjAMCRgGBIwDAkYBgSMAwJGAsoIwCCMAgjAIIwCCMAgjAIIwEgAAAAAAAAAAAAAAAAAAAAAAAH//2Q==) repeat-x scroll left top transparent;
	margin: 0;
	padding: 0 310px 0 0;
	text-align: right;
	display: none;
}

#nav_inner {
	background-color: transparent;
	font-family: Lucida Grande,Verdana,Geneva,sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 8px 12px 0 20px;
}

div#pulldown-menu {
	-moz-column-count: 5;
	-moz-column-gap: 20px;
	-webkit-column-count: 5;
	-webkit-column-gap: 20px;
	column-count: 5;
	column-gap: 20px;
	-webkit-column-rule: 1px groove #b8b8b8;
	-moz-column-rule: 1px groove #b8b8b8;
	column-rule: 1px groove #b8b8b8;
}

#pulldown-menu > ul {
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-column-break-inside: avoid; /*Chrome, Safari*/
	display: table;	/*Firefox*/
	break-inside: avoid; /*IE 10+ theoretically*/
}

#pulldown-menu ul li.toctree-l2 {
	font-size: 0.82em;
	margin-left: 20px;
	list-style-image: url(data:image/gif;base64,R0lGODlhCwAJALMJAO7u7uTk5PLy8unp6fb29t7e3vj4+Li4uIWFheTk5AAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAkALAAAAAALAAkAAAQoMJ1JqTQ4Z3SI98jHCWSJkByArCyiHkMsIzEX3DeCc0Xv+4hEa5iIAAA7);
}

#pulldown-menu ul li.toctree-l1 a {
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
	font-weight: 700;
}

#pulldown-menu ul li.toctree-l2 a {
	text-decoration: none;
	font-size: 11px;
	line-height: 1.4em;
	font-weight: 300;
	font-family: Lucida Grande,Verdana,Geneva,sans-serif;
	color: #aaaaaa;
}

.wy-side-nav-search a {
	color: #ffffff;
}

.wy-menu-vertical a:active {
	background-color: #dd4814;
}

.wy-nav-content {
	max-width: none;
}

.wy-nav-content-wrap a, .wy-nav-content-wrap a:visited {
	color: #dd4814;
}

.wy-nav-content-wrap a:hover, .wy-nav-content-wrap a:active {
	color: #97310e;
}

.wy-alert.wy-alert-success .wy-alert-title, .rst-content .wy-alert-success.note .wy-alert-title, .rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .wy-alert-title, .rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .wy-alert-title, .rst-content .hint .wy-alert-title, .rst-content .important .wy-alert-title, .rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.warning .wy-alert-title, .rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title, .wy-alert.wy-alert-success .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-success .admonition-title, .rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.attention .admonition-title, .rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.danger .admonition-title, .rst-content .wy-alert-success.error .admonition-title, .rst-content .hint .admonition-title, .rst-content .important .admonition-title, .rst-content .tip .admonition-title, .rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.seealso .admonition-title, .rst-content .wy-alert-success.admonition-todo .admonition-title {
	background-color: #dd4814;
}

.wy-alert.wy-alert-success, .rst-content .wy-alert-success.note, .rst-content .wy-alert-success.attention, .rst-content .wy-alert-success.caution, .rst-content .wy-alert-success.danger, .rst-content .wy-alert-success.error, .rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .wy-alert-success.warning, .rst-content .wy-alert-success.seealso, .rst-content .wy-alert-success.admonition-todo {
    background: rgba(0,0,0,0.05);
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}
