/* RTD Theme ---------------------------------------------------------------- */

@import 'theme.css';

/* Inter Font --------------------------------------------------------------- */

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/Inter/inter-latin-300-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/Inter/inter-latin-300-italic.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Inter/inter-latin-400-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Inter/inter-latin-400-italic.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Inter/inter-latin-700-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Inter/inter-latin-700-italic.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* JetBrains Mono Font ------------------------------------------------------ */

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/JetBrainsMono/jetbrains-mono-latin-400-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/JetBrainsMono/jetbrains-mono-latin-400-italic.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/JetBrainsMono/jetbrains-mono-latin-700-normal.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/JetBrainsMono/jetbrains-mono-latin-700-italic.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* General ------------------------------------------------------------------ */

body, p, legend {
	font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

code, kbd, pre, samp, tt,
.rst-content code, .rst-content tt,
.rst-content pre.literal-block,
.rst-content .linenodiv pre,
.rst-content div[class^=highlight] pre {
	font-family: "JetBrains Mono", "Menlo", "Consolas", "Courier New", monospace;
	font-feature-settings: "calt" 1;
}

.wy-nav-content {
	background-image: url('../img/ci-background.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 200px;
}

/* Titles ------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

h1 {
	margin-bottom: 2rem;
}

h2, h3 {
	margin-bottom: 2rem;
	margin-top: 3rem;
}

/* Images ------------------------------------------------------------------- */

.rst-content img {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	display: block;
	height: auto!important;
	margin: 3rem auto!important;
	max-width: 700px;
	width: 100%!important;
}

.rst-content img.align-left {
	margin-right: 2rem!important;
	max-width: 375px;
}

.rst-content img.align-right {
	margin-left: 2rem!important;
	max-width: 400px;
}

/* Side Menu ---------------------------------------------------------------- */

.wy-nav-side {
	background: #252525;
}

.wy-side-nav-search {
    background: #dd4814;
}

.wy-side-nav-search .logo {
	width: 100% !important;
}

.wy-side-nav-search a {
	color: #ffffff;
}

.wy-side-nav-search input[type=text] {
	border-color: #dd4815;
}

.wy-nav-top {
	background-color: #dd4814;
}

.wy-nav-top a {
	color: #ffffff!important;
}

.wy-menu-vertical a:active {
	background-color: #dd4814;
}

.wy-nav-content {
	max-width: 900px;
}

.wy-nav-content-wrap a, .wy-nav-content-wrap a:visited {
	color: #dd4814;
}

.wy-nav-content-wrap a:hover, .wy-nav-content-wrap a:active {
	color: #97310e;
}

.wy-menu-vertical li span.toctree-expand {
	margin-right: 0.65em;
}

.wy-menu-vertical li span.toctree-expand::before {
	display: none !important;
}

/* Elements ----------------------------------------------------------------- */

.highlighted {
	padding: 0px !important;
	font-weight: inherit !important;
	background-color: #f1d40f !important;
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
	white-space: pre;
}

.rst-content dl.class>dt {
	margin-bottom: 1rem !important;
}

.rst-content .section ol p, .rst-content .section ul p {
	margin: 0;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
	background: #fdc894;
	color: #434343;
	border-top: solid 3px #dd4814;
}

html.writer-html4 .rst-content dl:not(.docutils) code.descname,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname {
	padding-right: 0.2rem;
}

.rst-content dl.field-list {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.rst-content dl.field-list dt, .rst-content dl.field-list p,
html.writer-html4 .rst-content dl:not(.docutils) dl:not(.field-list)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list)>dt {
	font-size: 90%;
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.field-list)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list)>dt {
	padding: 6px;
}

.admonition {
	margin-bottom: 2.5rem!important;
	margin-top: 2rem;
}

.highlight-console .highlight {
    background-color: #fffff0;
}

span.std,
span.pre {
    text-wrap: nowrap;
}

/* Messages ----------------------------------------------------------------- */

.rst-content .success {
	background: #dff0d8;
}

.rst-content .success .admonition-title {
	background-color: #9ace25;
}

.rst-content .info {
	background: #e8eff1;
}

.rst-content .info .admonition-title {
	background: #5bc0de;
}

.rst-content .important {
	background: #f9f3f3;
}

.rst-content .important .admonition-title {
	background: #dd4814;
}

.versionadded {
    background: #dff0d8;
    padding: 0 5px;
}

.deprecated:not(.versionmodified) {
    background: #f2dede;
    padding: 0 5px;
}

/* Footer ------------------------------------------------------------------- */

.rst-footer-buttons {
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}

/* Carbon Ads --------------------------------------------------------------- */

#carbonads {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
	Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
	display: flex;
	max-width: 330px;
	background-color: hsla(0, 0%, 98%, 0.1);
	border: 1px solid hsla(0, 0%, 98%, 0.15);
	margin: 3em 1.5em;
}

#carbonads a {
	color: inherit;
	text-decoration: none;
}

#carbonads a:hover {
	color: inherit;
}

#carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
}

.carbon-img {
	display: block;
	margin: 0;
	line-height: 1;
	text-align: center;
}

.carbon-img img {
	display: block;
	margin: auto;
}

.carbon-text {
	font-size: 13px;
	padding: 10px;
	line-height: 1.5;
	text-align: left;
}

.carbon-poweredby {
	display: block;
	padding: 8px 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: lighter;
	font-size: 9px;
	line-height: 1;
}
