#debug-icon{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 20%;
    margin: 5px;
    z-index: 10000;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    clear: both;
}

 #debug-icon a svg{
     margin: 1px ;
     max-width:26px ;
     max-height: 26px ;
 }
#debug-bar a:active, #debug-bar a:link,#debug-bar a:visited {
    color: #dd4814;
}
#debug-bar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    font-size: 14px ;
    line-height: 1.5 ;
    background: #fff ;
    border-bottom: 1px solid #ddd ;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    overflow-y: auto;
    max-height: 62% ;
}
#debug-bar h1,
#debug-bar h2,
#debug-bar h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
    color: #666 ;
}
#debug-bar p {
    font-size: 12px ;
    margin: 0 0 10px 20px ;
    padding: 0 ;
}
#debug-bar a {
    text-decoration: none;
}
#debug-bar a:hover {
    text-decoration: underline;
    text-decoration-color: #4e4a4a ;
}
#debug-bar .muted,
#debug-bar .muted td {
    color: #bbb ;
}
#debug-bar .toolbar {
    display: block ;
    position: relative ;
    overflow: hidden ;
    overflow-y: auto ;
    white-space: nowrap ;
    border-bottom: 1px solid #eee;
    padding: 3px 20px ;
    text-align: right ;
}
#debug-bar h1 {
    font-size: 16px ;
    font-weight: 300 ;
    margin: 0 2em 0 0 ;
    padding: 0 ;
    text-align: left ;
    display: inline-block ;
    float: left ;
}
#debug-bar h2 {
    font-size: 16px ;
    font-weight: 300 ;
    margin: 0 ;
    padding: 0 ;
}
#debug-bar h2 span {
    font-size: 13px ;
}
#debug-bar h3 {
    text-transform: uppercase ;
    font-size: 11px ;
    font-weight: 200 ;
    margin-left: 10pt ;
}
#debug-bar span {
    display: inline-block ;
    font-size: 12px ;
    padding: .3em 1em .3em ;
    line-height: 1.0 ;
    vertical-align: baseline ;
}
#debug-bar table strong {
    font-weight: 500 ;
    color: rgba(0,0,0,0.3) ;
}
#debug-bar .ci-label {
    border-radius: 0.25em ;
    text-shadow: none ;
    background-color: #eee ;
    border: 1px solid #ddd ;
    margin-left: 0.4em ;
}
#debug-bar .ci-label a {
    display: block ;
    width: 100% ;
    height: 100% ;
    color: inherit ;
    text-decoration: none ;
}
#debug-bar .ci-label a:hover {
    text-decoration: underline ;
}
#debug-bar .ci-label.active {
    font-weight: 400 ;
    background-color: #ccc ;
    border-color: #bbb ;
    padding: .3em 0.9em .3em ;
}
#debug-bar .tab {
    display: none;
    background: inherit ;
    padding: 1em 2em;
}

#debug-bar table {
    margin: 0 0 10px 20px ;
    font-size: 13px ;
    border-collapse:collapse ;
    width: 100% ;
}
#debug-bar td,
#debug-bar th {
    display: table-cell ;
    text-align: left ;
}
#debug-bar tr {
    border: none ;
}
#debug-bar td {
    border: none ;
    padding: 2px 10px 2px 5px;
    margin: 0 ;

}
#debug-bar th {
    padding-bottom: 0.7em ;
}
#debug-bar tr td:first-child {
    width: 20% ;
}
#debug-bar tr td:first-child.narrow {
    width: 7em ;
}
#debug-bar tr:hover {
    background-color: #f3f3f3 ;
}
#debug-bar table.timeline {
    width: 100% ;
    margin-left: 0 ;
}
#debug-bar table.timeline th {
    font-size: 0.7em ;
    font-weight: 200 ;
    text-align: left ;
    padding-bottom: 1em ;
}
#debug-bar table.timeline td,
#debug-bar table.timeline th {
    border-left: 1px solid #ddd ;
    padding: 0 1em;
    position: relative;
}
#debug-bar table.timeline tr td:first-child,
#debug-bar table.timeline tr th:first-child {
    border-left: 0 ;
    padding-left: 0 ;
}
#debug-bar table.timeline td {
    padding: 5px;
}
#debug-bar table.timeline .timer {
    position: absolute ;
    display: inline-block ;
    padding: 3px ;
    bottom: 9px ;
    border-radius: 3px ;
    background-color: #999 ;
}
#debug-bar .route-params,
#debug-bar .route-params-item {
    vertical-align: top ;
}
#debug-bar .route-params-item td:first-child {
    padding-left: 1em ;
    text-align: right ;
    font-style: italic ;
}
