# When a Pull Request is opened that modifies
# the User Guide source, build the User Guide
# with Sphinx and let the contributor know of
# any errors.
name: Test User Guide

on:
  pull_request:
    paths:
      - 'user_guide_src/**'
      - '.github/workflows/test-userguide.yml'

jobs:
  syntax_check:
    name: Check User Guide syntax
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Detect usage of tabs in RST files
        run: php utils/check_tabs_in_rst.php

      - uses: ammaraskar/sphinx-action@0.4
        with:
          docs-folder: user_guide_src
          build-command: 'make html SPHINXOPTS="-W --keep-going -w /tmp/sphinx-log"'
