name: Coding Standards

on:
  push:
    paths:
      - '**.php'
      - 'spark'
      - '.github/workflows/test-coding-standards.yml'
  pull_request:
    paths:
      - '**.php'
      - 'spark'
      - '.github/workflows/test-coding-standards.yml'

jobs:
  lint:
    name: PHP ${{ matrix.php-version }} Lint with PHP CS Fixer
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - '7.3'
          - '7.4'
          - '8.0'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: tokenizer
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.php-version }}-
            ${{ runner.os }}-

      - name: Install dependencies
        run: composer update --ansi --no-interaction

      - name: Run lint on `app/`, `admin/`, `public/`
        run: vendor/bin/php-cs-fixer fix --verbose --ansi --dry-run --config=.no-header.php-cs-fixer.dist.php --using-cache=no --diff

      - name: Run lint on `system/`, `tests`, `utils/`, and root PHP files
        run: vendor/bin/php-cs-fixer fix --verbose --ansi --dry-run --using-cache=no --diff
