// CodeIgniter 4 - Welcome page
// ========================================================================== */

// IMPORTS
// ========================================================================== */

@import '../common/_graphic-charter.scss';
@import '../common/_mixins';
@import '../common/_settings';


// GENERAL
// ========================================================================== */

* {
  // Transitions
  transition: background-color 300ms ease, color 300ms ease;
}
*:focus {
  // Colors
  background-color: $s-red;

  // Other styles
  outline: none;
}
html, body {
  // Colors
  color: $t-dark;

  // Fonts smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // Spacing
  margin: 0;
  padding: 0;

  // Typography
	font-family: $base-font;
	font-size: $base-size;
	font-weight: 400;
}

// HEADER
// ========================================================================== */

header {
  // Borders
  border-bottom: 1px solid lighten($m-gray,8%);

  // Colors
  background-color: $s-gray;

  // Spacing
  padding: .4rem 0 0;
}
header .menu {
  // Borders
  border-bottom: 1px solid lighten($m-gray,8%);

  // Spacing
  padding: .4rem 2rem;
}
header ul {
  // Display
  overflow: hidden;

  // Spacing
  margin: 0;
  padding: 0;

  // Typography
  list-style-type: none;
  text-align: right;
}
header li {
  // Display
  display: inline-block;
}
header li a {
  // Borders
  @include border-radius(5px);

  // Colors
  color: $g-gray;

  // Dimensions
  height: 44px;

  // Display
  display: block;

  // Typography
  font-weight: 300;
  text-decoration: none;
}
header li.menu-item a {
  // Borders
  @include border-radius(5px);

  // Dimensions
  height: 38px;

  // Spacing
  line-height: 36px;
  margin: 5px 0;
  padding: .4rem .65rem;

  // Typography
  text-align: center;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
  // Colors
  background-color: $s-red;
  color: $g-red;
}
header .logo {
  // Dimensions
  height: 44px;

  // Position
  float: left;

  // Spacing
  padding: .4rem .5rem;
}
header .menu-toggle {
  // Display
  display: none;

  // Position
  float: right;

  // Typography
  font-size: 2rem;
  font-weight: bold;
}
header .menu-toggle button,
header .menu-toggle button:hover,
header .menu-toggle button:focus {
  // Borders
  border: none;
  @include border-radius(5px);

  // Colors
  background-color: $g-red;
  color: $t-light;

  // Dimensions
  height: 36px;
  width: 40px;

  // Display
  cursor: pointer;
  overflow: visible;

  // Spacing
  margin: 11px 0;
  padding: 0;

  // Typography
  font-size: 1.3rem;
}
header .heroe {
  // Dimensions
  max-width: 1100px;

  // Spacing
  margin: 0 auto;
  padding: 1rem 1.75rem 1.75rem 1.75rem;
}
header .heroe h1 {
  // Typography
  font-size: 2.5rem;
  font-weight: 500;
}
header .heroe h2 {
  // Typography
  font-size: 1.5rem;
  font-weight: 300;
}

// HEADER - RESPONSIVE DESIGN
// ========================================================================== */

@media (max-width: 559px) {
  header ul {
    // Spacing
    margin-bottom: 1rem;
    padding: 0;
  }
  header .menu-toggle {
    // Spacing
    padding: 0 1rem;
  }
  header .menu-item {
    // Colors
    background-color: none;

    // Dimensions
    width: calc(100% - 0.15rem);

    // Spacing
    margin: 0.15rem 0;
  }
  header .menu-toggle {
    // Display
    display: block;
  }
  header .hidden {
    // Display
    display: none;
  }
  header li.menu-item a {
    // Colors
    background-color: lighten($m-gray,8%);
  }
  header li.menu-item a:hover,
  header li.menu-item a:focus {
    // Colors
    background-color: $s-red;
    color: $g-red;
  }
}

// SECTIONS
// ========================================================================== */

section {
  // Dimensions
  max-width: 1100px;

  // Spacing
  margin: 0 auto;
  padding: 2.5rem 1.75rem 3.5rem 1.75rem;
}
section h1 {
  // Spacing
  margin-bottom: 2.5rem;
}
section h2 {
  // Spacing
  line-height: 2.5rem;
  padding-top: 1.5rem;

  // Typography
  font-size: 120%;
}
section pre {
  // Borders
  border: 1px solid lighten($m-gray,8%);

  // Colors
  background-color: $s-gray;

  // Display
  display: block;

  // Spacing
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  word-break: break-all;

  // Typography
  font-size: .9rem;
}
section code {
  // Display
  display: block;
}
section a {
  // Colors
  color: $g-red;
}
section svg {
  // Dimensions
  width: 25px;

  // Spacing
  margin-bottom: -5px;
  margin-right: 5px;
}
.further {
  // Borders
  border-bottom: 1px solid lighten($m-gray,8%);
  border-top: 1px solid lighten($m-gray,8%);

  // Colors
  background-color: $s-gray;
}
.further h2:first-of-type {
  // Spacing
  padding-top: 0;
}

// FOOTER
// ========================================================================== */

footer {
  // Borders
  border-top: 1px solid lighten($m-gray,8%);

  // Colors
  background-color: $g-red;
  color: $t-light;

  // Position
  text-align: center;
}
footer .environment {
  // Spacing
  padding: 2rem 1.75rem;
}
footer .copyrights {
  // Colors
  background-color: $g-gray;
  color: $m-gray;

  // Spacing
  padding: 0.25rem 1.75rem;

  // Typography
  font-size: 80%;
}
