// FONT
// ========================================================================== */

// Standard "sans-serif" font stack used by Github
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

// Default size, all other styles are based on this size
$base-size: 16px;
